@import url("https://fonts.googleapis.com/css2?family=Halant&family=Montserrat:wght@700&family=Satisfy&display=swap");

$montserrat: "Montserrat", sans-serif;
$satisfy: "Satisfy", cursive;
$halant: "Halant", serif;
$bg-clr: #eae9ed;
$link-clr: "";
$header-clr: #dd7564;
$underline-clr: #b2dedd;
$text-color: #000000;
$font-400: 400;
$footer-clr: #1fa5a6;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $bg-clr;
  font-family: $halant;
  min-height: 100vh;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
}

h1,
h2 {
  font-family: $satisfy;
  color: $header-clr;
  font-weight: $font-400;
  display: flex;
  flex: 1;
  margin: 1.2rem 0;
  padding: 0;
}

h3,
h4,
h5,
h6 {
  font-family: $halant;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
  margin: auto;
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
}

.header {
  margin: 1.7rem 0;
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $header-clr;
  font-family: $satisfy;

  a {
    text-decoration: none;
    color: $header-clr;
  }

  ul {
    display: flex;
    flex: 1;

    li {
      list-style-type: none;
      padding: 0.75rem;
      font-size: 1rem;
    }
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

main {
  flex: auto;

  article {
    width: 80%;
    margin: 1rem 0;
    padding: 0;

    div {
      h1 {
        font-size: 3.7rem;
        line-height: 1;
        text-decoration: underline;
        text-decoration-color: $underline-clr;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin: 0;
          list-style-type: none;
          padding: 1.2rem 0;

          h2 {
            a {
              text-decoration: none;
              font-size: 1.75rem;
              color: $header-clr;
            }
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  // background-color: $footer-clr;
  padding-top: 1.75rem;
  padding-bottom: 5rem;
}

.footerClass {
  display: flex;
  margin: 10px auto;
  text-align: center;
  justify-content: center;

  a {
    margin: 0 10px;
    padding: 0px 5px;
    text-decoration: none;
    color: $text-color;
  }
}

.tags {
  font-family: $halant;
  text-decoration: none;
  color: $footer-clr;
}
