@import url("https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,700;1,400&family=Montserrat&display=swap");

$kufam: "Kufam", cursive;
$montserrat: "Montserrat", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #d8e3ea;
  font-family: $kufam;
}

h1,
h2 {
  font-family: $montserrat;
  display: flex;
  flex: 1;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
  margin: auto;
  width: 100%;
  max-width: 960px;
}

.header {
  background-color: #d8e3ea;
  margin: 2rem 0;
  display: flex;
  width: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    flex: 1;
  }
}

li {
  list-style-type: none;
  padding: 0.75rem;
}

footer {
  text-align: center;
}

.footerClass {
  display: flex;
  margin: 10px auto;
  text-align: center;
  justify-content: center;

  a {
    padding: 0px 5px;
    text-decoration: none;
    color: #4b4c4b;
  }
}
